<div id="contactform">

<div class="container">

   <div class="sixteen columns">

        <h2 class="white" >Get in Touch</h2>
         <hr class="white" >
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

    </div>

       <div class="two-thirds column form">
                 <form action="/contact" id="commentForm" method="post" name="commentForm">
                       <input class="required name" id="name" name="name" type="text" value="Name*" onFocus="if(this.value=='Name*') this.value=''"/>
                       <input class="required email" id="email" name="email" type="text" value="Email*" onFocus="if(this.value=='Email*') this.value=''"/>
                       <input class="phone" id="phone" name="phone" type="text" value="Phone" onFocus="if(this.value=='Phone') this.value=''"/>
                       <input class="website" id="website" name="website" type="text" value="Website" onFocus="if(this.value=='Website') this.value=''"/>
                       <input  name="file" type="file" value="file" onFocus="if(this.value=='Website') this.value=''"/>
                       <textarea class="required message" name="message" onFocus="if(this.value=='Message*') this.value=''">Message*</textarea>
                       <button class="btn">Send</button>
                       <p class="white">Required fields are marked *</p>
                  </form>
       </div>

       <div class="one-third column omega coninfo">
         <h4 class="left white">Contact Informations</h4>
         <p class="white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod erat.</p>
         <ul>
          <li>Flat OWL One Page Template</li>
          <li>Lorum Ipsum Street 19</li>
          <li>61234 Lorum City</li>
          <li>+49 xxxx 123456789</li>
          <li><a href="mailto:">info@lorumipsum.com</a></li>
         </ul>
         <h4 class="left white">Follow Us</h4>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>

   </div>
</div>
