<footer>
  <div class="container">
      <div class="sixteen columns copyright">

          <p class="white">Copyright 2013 <a href="http://www.fabianbentz.de">Fabian Bentz </a>all rights reserved</p>

      </div>
  </div>
</footer>






<!-- End Document
================================================== -->

<!--<script type="text/javascript">
  $(window).load(function() {
     $('.flexslider').flexslider({
        animation: "slide"
      });
});
</script>-->



<!-- pretty photo
	<script>
		$(document).ready(function(){
			$("a[class^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>
	-->

	<!--<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>

</body>
</html>
