<div class="slider" id="home">

   <div class="container">
<! SLIDESHOW >
    <div class="flexslider">
      <ul class="slides">
          <li>
            <div class="sixteen columns slide1">
              <p class="center"><img class="scale-with-grid" src="images/logo.svg" height="500px" width="500px" alt="logo big"></p>
              <h1 class="white">OWL FLAT ONE PAGE PORTFOLIO</h1>
              <h3 class="white"><span>RESPONSIVE WEBSITE TEMPLATE</span></h3>
             </div>
          </li>
         <li>
            <div class="sixteen columns slide2">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white">OPTIMIZED FOR MOBIL DEVICES</h3>
            </div>
            </li>
          <li>
            <div class="sixteen columns slide3">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white">YOU CAN ADD IMAGES AND TEXT TO SLIDER</h3>
            </div>
            </li>
            <li>
            <div class="sixteen columns slide4">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>MODERN FLAT ICONS</span></h3>
             </div>
            </li>
            <li>
            <div class="sixteen columns slide5">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>RESPONSIVE PRICE TABLES</span></h3>
             </div>
            </li>
            <li>
            <div class="sixteen columns slide6">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>SKILL BARS</span></h3>
             </div>
            </li>
       </ul>
     </div>
   </div>
</div>
