<!--<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Practica Bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>-->
  <!--- Tabla que recibe datos del formulario ---------->
  <div class="container">
      <div class="row">
        <table class="table table-responsive">
          <tr>
            <th> <span class="alert alert-info">Attachment</span></th>
            <th> <span class="alert alert-warning">Name</span></th>
            <th> <span class="alert alert-success">Email </span></th>
            <th> <span class="alert alert-info">Phone</span></th>
            <th> <span class="alert alert-danger">Website </span></th>
            <th> <span class="alert alert-default">Mensaje </span></th>
          </tr>
          <tr>
            <td>imagen</td>
            <td>Kary Rguez</td>
            <td>kary@gmail.com</td>
            <td>4432009540</td>
            <td>www.gmail.com</td>
            <td>Primer linea bootstrap</td>
            <td><button class="form-control btn btn-primary btn-lg active">Revisado</button></td>
          </tr>
        </table>
      </div>
    </div>
</body>
</html>
