<div class="top">
    <a href="#home"><img id="rotate" src="images/top.png" width="70" height="70" alt="top" /></a>
</div>

<header>
<div class="container nav" id="home">
      <div class="three columns logo center">
      <img src="./images/logo.svg" height="120px" width="120px" alt"">
      </div>
      <div class="thirteen columns navigation">
        <nav>
          <div class='rmm' data-menu-style = "minimal">
            <ul>
                <li><a href='#home'>HOME</a></li>
                <li><a href='#service'>SERVICE</a></li>
                <li><a href='#team'>TEAM</a></li>
                <li><a href='#skills'>SKILLS</a></li>
                <li><a href='#portfolio'>PORTFOLIO</a></li>
                <li><a href='#price'>PRICE</a></li>
                <li><a href='#contact'>CONTACT</a></li>
            </ul>
          </div>
        </nav>
      </div>
     </div>
</div>
</header>
