<div id="portfolio">

<div class="container">

   <div class="sixteen columns">

        <h2>Our Portfolio</h2>
         <hr>
         <p class="center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

   <!-- Category Filter -->

	<ul class="filter group">
		<li class="current all"><a href="#">All</a></li>
		<li class="webdesign"><a href="#">Webdesign</a></li>
		<li class="branding"><a href="#">Branding</a></li>
		<li class="printdesign"><a href="#">Printdesign</a></li>
	</ul>

   </div>

<div class="sixteen columns">
	<!-- Portfolio Items -->
	<ul class="portfolio">
		<li  data-id="id-1" data-type="webdesign">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li  data-id="id-2" data-type="webdesign">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-3" data-type="webdesign branding">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-4" data-type="webdesign branding">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-5" data-type="branding">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-6" data-type="printdesign">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
	</ul>
   </div>
  </div>
</div>
