<div id="price">

<div class="container">

   <div class="sixteen columns intro">

        <h2 class="white">Price</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

   </div>

          <div class="one-third column pricetable">
         <table class="pritab">
           <tr>
            <th>Basic Price</th>
           </tr>
           <tr>
            <td class="cell price">15 EUR<p>per month</p></td>
           </tr>
           <tr>
            <td class="cell"><strong>5 GB</strong> Disk Space</td>
           </tr>
           <tr>
            <td class="cell"><strong>20 GB</strong> Bandwith</td>
           </tr>
           <tr>
            <td class="cell"><strong>5</strong> Databases</td>
           </tr>
           <tr>
            <td class="cell"><strong>Daily</strong> Backup</td>
           </tr>
           <tr>
            <td class="cell"><strong>5</strong> Domains</td>
           </tr>
           <tr>
            <td class="order"><a href=""  class="btnprice">Order now</a></td>
           </tr>
         </table>
  </div>

  <div class="one-third column pricetable feature">
         <table class="pritab">
           <tr>
            <th>Feature Price</th>
           </tr>
           <tr>
            <td class="cell price">25 EUR<p>per month</p></td>
           </tr>
           <tr>
            <td class="cell"><strong>15 GB</strong> Disk Space</td>
           </tr>
           <tr>
            <td class="cell"><strong>50 GB</strong> Bandwith</td>
           </tr>
           <tr>
            <td class="cell"><strong>15</strong> Databases</td>
           </tr>
           <tr>
            <td class="cell"><strong>Daily</strong> Backup</td>
           </tr>
           <tr>
            <td class="cell"><strong>15</strong> Domains</td>
           </tr>
           <tr>
            <td class="order-feat"><a href=""  class="btnpricefeat">Order now</a></td>
           </tr>
         </table>
  </div>

  <div class="one-third column pricetable">
         <table class="pritab">
           <tr>
            <th>Expert Price</th>
           </tr>
           <tr>
            <td class="cell price">40 EUR<p>per month</p></td>
           </tr>
           <tr>
            <td class="cell"><strong>20 GB</strong> Disk Space</td>
           </tr>
           <tr>
            <td class="cell"><strong>60 GB</strong> Bandwith</td>
           </tr>
           <tr>
            <td class="cell"><strong>20</strong> Databases</td>
           </tr>
           <tr>
            <td class="cell"><strong>Daily</strong> Backup</td>
           </tr>
           <tr>
            <td class="cell"><strong>20</strong> Domains</td>
           </tr>
           <tr>
            <td class="order"><a href=""  class="btnprice">Order now</a></td>
           </tr>
         </table>
  </div>


  </div>
</div>
