<div class="service" id="service">
    <div class="container">

        <div class="sixteen columns">

         <h2 class="white">Our Service</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/flatdesign.svg">
         <h4 class="white">Responsive Design</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>

         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/customizable.svg">
         <h4 class="white">Easy Customizable</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>

         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/portfolio.svg">
         <h4 class="white">Porfolio</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>

         <div class="four columns alpha omega">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/mail.svg">
         <h4 class="white">PHP Mail Form</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>

        </div>

    </div>
</div>
