<div class="skills" id="skills">
    <div class="container">

        <div class="sixteen columns">

         <h2 class="white">Our Skills</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>


         <ul id="skillbar">
			    <h4>HTML</h4>
	            <li><span class="skillbar html"></span></li>
	            <h4>CSS</h4>
	            <li><span class="skillbar css"></span></li>
	            <h4>JAVASCRIPT</h4>
	            <li><span class="skillbar java"></span></li>
	            <h4>PHP</h4>
	            <li><span class="skillbar php"></span></li>
	            <h4>PHOTOSHOP/ILLUSTRATOR</h4>
	            <li><span class="skillbar psd"></span></li>
            </ul>

         </div>

    </div>
</div>
