<div class="team" id="team">
    <div class="container">

        <div class="sixteen columns">

         <h2>Meet Our Team</h2>
         <hr>
         <p class="center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

         <div class="four columns alpha member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Founder / CEO</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>

         <div class="four columns alpha member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Web Designer</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>

         <div class="four columns alpha member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Designer</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>

         <div class="four columns alpha omega member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Developer</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>

         </div>

    </div>
</div>
